.chat-app {
    display: flex;
    height: 100vh;
}

.main-content {
    display: flex;
    flex: 1;
    margin-left: 200px; /* 사이드바 공간 확보 */
}

.chat-room-list-container {
    width: 300px;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.chat-room-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 1em;
}

.message-left,
.message-right {
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 5px;
}

.message-left {
    background-color: #f1f1f1;
    align-self: flex-start;
}

.message-right {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.chat-room form {
    display: flex;
}

.chat-room input {
    flex: 1;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 0.5em;
}

.chat-room button {
    padding: 0.5em;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-room button:hover {
    background-color: #218838;
}
