.chat {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.chat-header-container {
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: #d6e2fc;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.chat-body {
    display: flex;
    flex: 1;
    margin-top: 80px;
    overflow: hidden; /* Prevent body from growing beyond viewport */
}

.chat-sidebar {
    width: 60px;
    background-color: #dadbe8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    overflow-y: auto; /* Enable scrolling for sidebar */
}

.chat-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    gap: 10px; /* Add gap between chat-room-list-container and chat-room-container */
}

.chat-room-list-container {
    width: 315px;
    border-right: 1px solid #ccc;
    overflow-y: auto; /* Enable scrolling for chat room list */
    background-color: #e5e5f3;
    padding: 10px;
}

.chat-room-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling for chat room */
    background-color: #faf5f5;
    border-left: 1px solid #d2bdbd;
}
