
/* 로그인
 */


/* 부모 컨테이너를 중앙에 배치 */
.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-form {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.auth-form h3 {
    text-align: center;
}

.auth-form input {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    width: 100%;
    padding: 0.5em;
    margin: 0.5em 0;  /* 여기에 마진을 추가하여 공백을 만듭니다 */
    background-color: #2857a7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: #213688;
}

.auth-form p {
    color: red;
    text-align: center;
}
